<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.tree3.trunk.dao.SysPagePermMapper">

    <resultMap type="life.tree3.trunk.pojo.entity.SysPagePerm" id="SysPagePermMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="pageId" column="page_id" jdbcType="INTEGER"/>
        <result property="permId" column="perm_id" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--全部字段-->
    <sql id="allColumn"> id
    , page_id, perm_id, deleted, create_time, update_time </sql>

    <!--通用对SysPagePerm各个属性的值的非空判断-->
    <sql id="commonsValue">
        <if test="pageId != null">
            page_id = #{pageId},
        </if>
        <if test="permId != null">
            perm_id = #{permId},
        </if>
        <if test="deleted != null">
            deleted = #{deleted},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
    </sql>

    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="pageId != null">
            page_id,
        </if>
        <if test="permId != null">
            perm_id,
        </if>
        <if test="deleted != null">
            deleted,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
    </sql>

    <!--添加语句的值列表-->
    <sql id="insertValue">
        <if test="pageId != null">
            #{pageId},
        </if>
        <if test="permId != null">
            #{permId},
        </if>
        <if test="deleted != null">
            #{deleted},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
    </sql>

    <!--多条件查询的条件-->
    <sql id="queryCondition">
        <if test="id != null">
            and id = #{id}
        </if>

        <if test="pageId != null">
            and page_id = #{pageId}
        </if>
        <if test="permId != null">
            and perm_id = #{permId}
        </if>
        <if test="deleted != null">
            and deleted = #{deleted}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="SysPagePermMap">
        select
        <include refid="allColumn"></include>
        from sys_page_perm
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysPagePermMap">
        select
        <include refid="allColumn"></include>
        from sys_page_perm
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="queryCondition"></include>
        </trim>
    </select>


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_page_perm
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="pageId != null">
                and page_id = #{pageId}
            </if>
            <if test="permId != null">
                and perm_id = #{permId}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update sys_page_perm
        <set>
            <include refid="commonsValue"></include>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from sys_page_perm
        where id = #{id}
    </delete>

    <!--新增sys_page_perm:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_page_perm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>

    <!--批量插入-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_page_perm(page_id, perm_id, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.pageId}, #{entity.permId}, #{entity.deleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_page_perm(page_id, perm_id, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.pageId}, #{entity.permId}, #{entity.deleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        page_id = values(page_id),
        perm_id = values(perm_id),
        deleted = values(deleted),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

</mapper>

