<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.tree3.trunk.dao.SysRoleMapper">

    <resultMap type="life.tree3.trunk.pojo.entity.SysRole" id="SysRoleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="home" column="home" jdbcType="VARCHAR"/>
        <result property="weights" column="weights" jdbcType="VARCHAR"/>
        <result property="locked" column="locked" jdbcType="BOOLEAN"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="SysRoleDtoMap" type="life.tree3.trunk.pojo.dto.RoleDto" extends="SysRoleMap">
        <!--根据角色id查询对应的页面-->
        <collection property="pages" column="{roleId=id}"
                    select="life.tree3.trunk.dao.SysPageMapper.queryPagesForRole"/>
    </resultMap>

    <!--全部字段-->
    <sql id="allColumn"> id
    , role, description, home,weights,locked, deleted, create_time, update_time </sql>

    <!--通用对SysRole各个属性的值的非空判断-->
    <sql id="commonsValue">
        <if test="role != null and role != ''">
            role = #{role},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="home != null and home != ''">
            home = #{home},
        </if>
        <if test="weights != null">
            weights = #{weights},
        </if>
        <if test="locked != null">
            locked = #{locked},
        </if>
        <if test="deleted != null">
            deleted = #{deleted},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
    </sql>

    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="role != null and role != ''">
            role,
        </if>
        <if test="description != null and description != ''">
            description,
        </if>
        <if test="home != null and home != ''">
            home ,
        </if>
        <if test="weights != null">
            weights,
        </if>
        <if test="locked != null">
            locked,
        </if>
        <if test="deleted != null">
            deleted,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
    </sql>

    <!--添加语句的值列表-->
    <sql id="insertValue">
        <if test="role != null and role != ''">
            #{role},
        </if>
        <if test="description != null and description != ''">
            #{description},
        </if>
        <if test="home != null and home != ''">
            #{home} ,
        </if>
        <if test="weights != null">
            #{weights},
        </if>
        <if test="locked != null">
            #{locked},
        </if>
        <if test="deleted != null">
            #{deleted},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
    </sql>

    <!--多条件查询的条件-->
    <sql id="queryCondition">
        <if test="id != null">
            and id = #{id}
        </if>

        <if test="role != null and role != ''">
            and role = #{role}
        </if>
        <if test="description != null and description != ''">
            and description = #{description}
        </if>
        <if test="home != null and home != ''">
            and home = #{home}
        </if>
        <if test="weights != null">
            and weights = #{weights}
        </if>
        <if test="locked != null">
            and locked = #{locked}
        </if>
        <if test="deleted != null">
            and deleted = #{deleted}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="SysRoleMap">
        select
        <include refid="allColumn"></include>
        from sys_role
        <where>
            id = #{id}
        </where>
    </select>

    <select id="queryRolesForUser" resultMap="SysRoleDtoMap">
        select r.*
        from sys_user u
        left join sys_user_role ur on u.id = ur.user_id
        left join sys_role r on ur.role_id = r.id
        <where>
            u.id = #{userId}
            <if test="username != null and username!=''">
                and u.username = #{username}
            </if>
            and u.deleted = 0
            and ur.deleted = 0
            and r.deleted = 0
            and r.locked=0
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysRoleDtoMap">
        select
        <include refid="allColumn"></include>
        from sys_role
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="queryCondition"></include>
        </trim>
    </select>


    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_role
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="home != null and home != ''">
                and home = #{home}
            </if>
            <if test="weights != null">
                and weights = #{weights}
            </if>
            <if test="locked != null">
                and locked = #{locked}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update sys_role
        <set>
            <include refid="commonsValue"></include>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from sys_role
        where id = #{id}
    </delete>

    <!--通过主键逻辑删除-->
    <delete id="logicDeleteById">
        update sys_role
        <set>
            deleted=1
        </set>
        <where>
            id = #{id}
        </where>
    </delete>


    <!--新增sys_role:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>

    <!--批量插入-->
    <insert id="insertBatch" useGeneratedKeys="true">
        insert into sys_role(role, description,home,weights, locked, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.role}, #{entity.description}, #{entity.home}, #{entity.weights}, #{entity.locked}, #{entity.deleted}, #{entity.createTime},
            #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" useGeneratedKeys="true">
        insert into sys_role(role, description,home,weights, locked, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.role}, #{entity.description}, #{entity.home}, #{entity.weights}, #{entity.locked}, #{entity.deleted}, #{entity.createTime},
            #{entity.updateTime})
        </foreach>
        on duplicate key update
        role = values(role),
        description = values(description),
        home = values(home),
        weights = values(weights),
        locked = values(locked),
        deleted = values(deleted),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

</mapper>

